body {
    font-family: sans-serif;
    margin: auto;
    background-color: rgb(107 189 189);
}

.head>h1 {
    text-align: center;
    margin: 0px;
    margin-bottom: 35px;
}

.score {
    margin-right: 2.5%;
    position: fixed;
    top: 10px;
    right: 10px;
    
}

#select {
    margin-left: 5%;
    margin-top: 15px;
    position: fixed;
}

#go{
    margin-left: 2px;
    position: relative;
}

.boiteDeDialogue{
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.tuto {
    padding: 5%;
    width:70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    animation-name: animatetop;
    animation-duration: 1s;
}

@keyframes animatetop {
    from {top:100%; opacity:0;}
    to {
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity:1;
    }
}

a{
    text-decoration: none;
}
canvas {
    border: 6px solid black;
    background-color: #a1b6cc;
    margin: auto;
    display: none;
}

